<section fxLayout="column" >
    <div fxFlexAlign="center" class="home-content" fxFlex="1 1 80%">
      <h1>My Now Page</h1>
      <div>
        <em>Last Updated: </em>20 July 2022
      </div>
      <div>
        <br>As a part of ‘The /now Page’ movement inspired by Derek Sivers, 
        This page shares what I’m working on at the moment and other current stuff. 
        There is a dedicated website where people share what are they up to NOW. 
        Check it out at <a href="https://nownownow.com/" target="_blank">NowNowNow.com</a>
        <ul>
          <li>Updated this website to <strong>Angular 14!</strong></li>
          <li>Building this website - It's an ongoing project in my spare time!</li>
            <ul>
              <li>Contact Page is next, followed by . . . <strong>Done!</strong></li>
              <li>My portfolio page! <strong>Done!</strong></li>
              <li>and then doing some CSS magic to make it look nicer!</li>
              <li>Change my home page so it's no longer under construction</li>
              <li>Host a Wordpress(?) blog here</li>
              <li>Integrate a chatbot?</li>
            </ul>
          <li>Front End Developer - <a href="https://www.kooziegroup.com/US/" target="_blank">Koozie Group</a></li>
          <li>Member of the NonProfit <a href="https://www.benevine.org/" target="_blank">Benevine's Working Board.</a>
           I serve as their technology expert!</li>
          <li>Reading:
            <ul>
              <li>The Power Law: Venture Capital and the Making of the New Future - Sebastian Mallaby</li>
              <li>Building a Second Brain: A Proven Method to Organize Your Digital Life and Unlock Your Creative Potential - Tiago Forte</li>
              <li>Designing Bots: Creating Conversational Experiences - Amir Shevat</li>
              <li>Introducing SEO: Your quick-start guide to effective SEO practices - Aravind Shenoy and Anirudh Prabhu</li>
            </ul>
          </li>
          <li>More to come . . . </li>
        </ul>
      </div>
    </div>
    
</section>