<section fxLayout="column" >
    <div fxFlexAlign="center" class="home-content" fxFlex="1 1 80%">
      <h1>My Now Page</h1>
      <div>
        <em>Last Updated: </em>25 March 2023
      </div>
      <div>
        <br>As a part of 'The /now Page' movement inspired by Derek Sivers, 
        this page shares what I'm working on at the moment and other current stuff. 
        There is a dedicated website where people share what are they up to NOW. 
        Check it out at <a href="https://nownownow.com/" target="_blank">NowNowNow.com</a>
        <ul>
          <li>Updated this website to <strong>Angular 14!</strong></li>
          <li>Building this website - It's an ongoing project in my <strong>spare</strong> time!</li>
            <ul>
              <li>Doing some CSS magic to make it look nicer!</li>
              <li>Host a Wordpress(?) blog here</li>
              <em>Update, March 25, 2023</em>: I think I may use <a href="https://scully.io" target="_blank">Scully</a> to do this instead!
              <li>Integrate a chatbot?</li>
            </ul>
          <li>Front End Developer - <a href="" target="">TBD!</a></li>
           <li>Board Member: <a href="https://www.fcprideinthepark.com/" target="_blank">Fox Chapel Pride in the Park</a></li>
          <li>Reading:
            <ul>
              <li><a href="https://www.packtpub.com/product/angular-projects-second-edition/9781800205260" target="_blank">Angular Projects, 2nd Edition</a>, by Aristeidis Bampakos</li>
              <li><a href="https://www.amazon.com/Networks-Introduction-Mark-Newman/dp/0199206651" target="_blank">Networks: An Introduction</a>, by M.E.J. Newman</li>
              <li><a href="https://www.amazon.com/Designing-Bots-Creating-Conversational-Experiences/dp/1491974826" target="_blank">Designing Bots: Creating Conversational Experiences</a>, by Amir Shevat</li>
              <li><a href="https://www.amazon.com/King-Scars-Duology/dp/1250142288" target="_blank">King of Scars (from Shadow and Bone) by Leigh Bardugo</a></li>
            </ul>
          </li>
          <li>More to come . . . </li>
        </ul>
      </div>
    </div>
    
</section>