<mat-toolbar>
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Karlie's Website</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/portfolio">Portfolio</a>
            </li>
            <li>
                <a routerLink="/resume">Resume</a>
            </li>
            <li>
                <a routerLink="/now">Now</a>
            </li>
            <li>
                <a routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
  </mat-toolbar>
