<section>
    <header>
        <h1>My Portfolio</h1>
        <h2>Below are links to some of my work!</h2>
    </header>
    <div class="container">
        
        <a href="http://trinitytowerchurch.org/" target='_blank'>
            <div class="myWork">
                <h2>Webmaster Experience</h2>
                <img class='img-responsive' src='https://s3.us-east-2.amazonaws.com/codepen-images-macengr/churchsite.jpg'>
                <p>
                    I was the webmaster for this church website for six years, doing the HTML and CSS coding and all other necessary work for this Wordpress CMS site.
                </p>
            </div>
        </a>
        
        <a href="https://www.arcgis.com/apps/OnePane/storytelling_basic/index.html?appid=342c1b2359ec40fb957429d87f45e96f" target='_blank'>
            <div class="myWork">
                <h2>GIS Coursework</h2>
                <img class='img-responsive' src='https://s3.us-east-2.amazonaws.com/codepen-images-macengr/gis.jpg'>
                <p>
                    I did this for a Coursera class by Penn State, learning GIS technologies.
                </p>
            </div>
        </a>
        
        <a href="https://codepen.io/macengr/full/RpxeKe/" target="_blank">
        <div class="col-md-4 myWork">
        <h2>Simple Survey Form</h2>
        <img class='img-responsive' src='https://s3.us-east-2.amazonaws.com/codepen-images-macengr/survey.jpg'>
        <p>This is a simple survey form created for FreeCodeCamp, using only CSS and HTML</p>
        </div>
        </a>
    
        <a href="https://codepen.io/macengr/full/rzEgNQ/" target="_blank">
        <div class="col-md-4 myWork">
        <h2>Product Landing Page</h2>
        <img class='img-responsive' src='https://s3.us-east-2.amazonaws.com/codepen-images-macengr/productpage.jpg'>
        <p>This is a sample Product Landing Page created for FreeCodeCamp, using only CSS and HTML. Eventually I want to go back and refactor this with React.js</p>
        </div>
        </a>

    <a href="https://codepen.io/macengr/full/MvNpMG/" target="_blank">
        <div class="col-md-4 myWork">
        <h2>Technical Documentation Page</h2>
        <img class='img-responsive' src='https://s3.us-east-2.amazonaws.com/codepen-images-macengr/docpage.jpg'>
        <p>This is a sample Technical Documentation Page created for FreeCodeCamp, using only CSS and HTML.</p>
        </div>
        </a>



        <a href="https://codepen.io/macengr/full/VvNxLp/" target='_blank'>
        <div class="col-md-4 myWork">
        <h2>						Random Quote Generator</h2>
        <img class='img-responsive' src='https://s3.us-east-2.amazonaws.com/codepen-images-macengr/quote.jpg'>
        <p>
            This was a website built for FreeCodeCamp using HTML5, CSS3, and Bootstrap, JQuery, and JavaScript.
        </p>
        </div>
        </a>
        
        <a href="https://codepen.io/macengr/full/jboWjN/" target='_blank'>
        <div class="col-md-4 myWork">
        <h2>						Pomodoro Timer</h2>
        <img class='img-responsive' src='https://s3.us-east-2.amazonaws.com/codepen-images-macengr/pomodoro.jpg'>
        <p>
            This is a website built for FreeCodeCamp using HTML5, CSS3, and Bootstrap, JQuery, and JavaScript.  Use it to boost productivity!
        </p>
        </div>
        </a>
        
        <a href="https://codepen.io/macengr/full/obBboR/" target='_blank'>
        <div class="col-md-4 myWork">
        <h2>						JavaScript Calculator</h2>
        <img class='img-responsive' src='https://s3.us-east-2.amazonaws.com/codepen-images-macengr/calc.jpg'>
        <p>
            This is a basic working calculator built for FreeCodeCamp using HTML5, CSS3, and Bootstrap, JQuery, and JavaScript.
        </p>
        </div>
        </a>
            
        <a href="https://codepen.io/macengr/debug/NxgddM/" target='_blank'>
        <div class="col-md-4 myWork">
        <h2>						Wikipedia Viewer</h2>
        <img class='img-responsive' src='https://s3.us-east-2.amazonaws.com/codepen-images-macengr/wiki.jpg'>
        <p>
            Using the Wikipedia API, the user can look up an entry, or choose a random entry.  Much CSS and JQuery in this one.
        </p>
        </div>
        </a>
        
        <a href="https://codepen.io/macengr/debug/rxJGGa/" target='_blank'>
        <div class="col-md-4 myWork">
        <h2>Twitch TV App</h2>
        <img class='img-responsive' src='https://s3.us-east-2.amazonaws.com/codepen-images-macengr/twitch.jpg'>
        <p>
            Using the Twitch API, the user can see who is streaming and what they're streaming, or if they are on- or offline.
        </p>
        </div>
        </a>
        
        <a href="https://s.codepen.io/macengr/debug/XXLrMB" target='_blank'>
        <div class="col-md-4 myWork">
        <h2>Tic-Tac-Toe - Naive AI</h2>
        <img class='img-responsive' src='https://s3.us-east-2.amazonaws.com/codepen-images-macengr/t3.jpg'>
        <p>
            Play Tic-Tac-Toe against an AI, the easy version.  The AI is blind, in that it doesn't know how to play the game.
        </p>
        </div>
        </a>
        
        <a href="https://codepen.io/macengr/full/vLqgem/" target='_blank'>
        <div class="col-md-4 myWork">
        <h2>Simon</h2>
        <img class='img-responsive' src='https://s3.us-east-2.amazonaws.com/codepen-images-macengr/simon.jpg'>
        <p>
            Play the 80s game Simon online!
        </p>
        </div>
        </a>
        
        <a href="https://timestampmicro.herokuapp.com/" target='_blank'>
        <div class="col-md-4 myWork">
        <h2>FCC Fullstack API: Timestamp microservice</h2>
        <img class='img-responsive' src='https://s3.us-east-2.amazonaws.com/codepen-images-macengr/timestamp.jpg'>
        <p>
            This app uses Node and Express.js to serve a formatted date based on input from the URL.
        </p>
        </div>
        </a>
        
        <a href="https://fccrequestparser.herokuapp.com/" target='_blank'>
        <div class="col-md-4 myWork">
        <h2>FCC Fullstack API: Request Header Parser Microservice</h2>
        <img class='img-responsive' src='https://s3.us-east-2.amazonaws.com/codepen-images-macengr/whoareyou.jpg'>
        <p>
            This app uses Node and Express.js to serve the client's the IP address, language and operating system.
        </p>
        </div>
        </a>
        
    <a href="https://codepen.io/macengr/full/mddVvGG" target='_blank'>
        <div class="col-md-4 myWork">
        <h2>FCC Bar Chart</h2>
        <img class='img-responsive' src='https://newpics-k.s3.us-east-2.amazonaws.com/barchartCapture.JPG'>
        <p>
            A bar chart that accesses an API, using D3 and React.
        </p>
        </div>
        </a>
    </div>
</section>
